:root {
  --brand-color: #434455;
  --white-color: #ffffffff;
  --dark-color: #2e2f42;
  --iris-color: #4d5ae5;
  --navy-blue-color: #2e2f42;
  --cloud-color: #f4f4fd;
  --ocean-color: #404bbf;
  --cornflower-color: #e7e9fc;
  --logo-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
}

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}
img {
  display: block;
}

body {
  font-family: var(--text-font-family);
  color: var(--brand-color);
  background-color: var(--white-color);
}

.navbar-and-address {
  background: var(--white-color);
  border-bottom: 1px solid var(--cornflower-color);
}

.header-container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  display: flex;
  align-items: center;
}

.hero-section {
  background: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 188px 0;
}

.hero-title {
  max-width: 496px;
  color: var(--white-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 107%;
  letter-spacing: 1.12px;
  margin-top: 188px;
  margin-bottom: 292px;
  align-items: center;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background: var(--iris-color);
  border-radius: 4px;
  cursor: pointer;
  color: var(--white-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean-color);
}

.button {
  background-color: var(--iris-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.logo {
  display: inline-block;
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 117%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;

  margin-bottom: 16px;
}
.logo-web {
  color: var(--iris-color);
}

.logo-studio-dark {
  color: var(--navy-blue-color);
}

.logo-studio-light {
  color: var(--cloud-color);
}

.link-nav {
  color: var(--dark-color);
  padding: 24px 0;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--ocean-color);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-list-item {
  margin-right: 40px;
}

.nav-list-item:last-child {
  margin-right: 0;
}

.list-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-list {
  display: flex;
  gap: 40px;
}
.address-list-item {
  margin-right: 40px;
  display: flex;
  gap: 40px;
}

.address-list-item :last-child {
  margin: 0;
}
.address-link {
  color: var(--brand-color);
}
.address-list:hover,
.address-list:focus {
  color: var(--ocean-color);
}

.qualities-container {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
}

.qualities-list {
  display: flex;
  gap: 24px;
}

.qualities-list-item {
  width: 100%;
  min-width: 264px;
}

.qualities-list-item:last-child {
  margin-right: 0;
}

.qualities-subtitles {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.qualities-description {
  color: var(--brand-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.services-container {
  padding: 120px 156px;
}

.services-subtitle {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-top: 120px;
  margin-bottom: 72px;
}

.services-list {
  display: flex;
  gap: 24px;
}

.services-list-item {
  width: 100%;
  min-width: 264;
}
.services-list-item:last-child {
  margin: 0;
}

.our-team-container {
  background: var(--cloud-color);
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
}

.team-subtitle {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  background: var(--white-color);
  margin-right: 24px;
}

.card-list-item:first-child {
  border-radius: 0px 0px 4px 4px;
}

.card-list-item:last-child {
  margin: 0;
}

.card-list-item {
  width: 100%;
  min-width: 264;
}

.container-employee {
  padding: 32px 0;
}

.item-name {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  padding-top: 32px;
  padding-bottom: 8px;
  text-align: center;
  margin-bottom: 8px;
}

.item-description {
  color: var(--brand-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  padding-bottom: 32px;
  text-align: center;
}

.footer {
  background: var(--dark-color);
  padding: 100px 0;
}

.footer-mision {
  color: var(--cloud-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  padding-top: 18px;
  max-width: 264px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-button {
  color: var(--iris-color);
  background-color: var(--cloud-color);
  padding: 12px 24px;
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-color);
  background: var(--ocean-color);
  border: 1px solid transparent;
}

.filters-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-container {
  align-items: center;
  gap: 24px;
}
.filter-item:last-child {
  margin: 0;
}

.filter-item {
  margin-right: 24px;
  border-radius: 4px;
  border-color: var(--cornflower-color);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-right: 24px;
  margin-bottom: 48px;
}

.portfolio-card {
  width: 100%;
  min-width: 264;
}
.portfolio-card:nth-child(n + 3) {
  margin: 0;
  margin-bottom: 0;
}
.link-card {
  padding-bottom: 32px;
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
}

.card-item-name {
  margin-bottom: 8px;
}

.card -item-description {
  color: var(--brand-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  padding-bottom: 32px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
