:root {
  --brand-color: #434455;
  --white-color: #ffffffff;
  --dark-color: #2e2f42;
  --iris-color: #4d5ae5;
  --navy-blue-color: #2e2f42;
  --cloud-color: #f4f4fd;
  --ocean-color: #404bbf;
  --logo-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--text-font-family);
  color: var(--brand-color);
  background-color: var(--white-color);
}

.logo {
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 117%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.logo-web {
  color: var(--iris-color);
}

.logo-studio-dark {
  color: var(--navy-blue-color);
}

.logo-studio-light {
  color: var(--cloud-color);
}

.list {
  text-decoration: none;
  list-style-type: none;
}

.list-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-nav {
  color: var(--dark-color);
}

.link-nav:hover,
.link-nav:focus {
  color: var(--ocean-color);
}

.address {
  font-style: normal;
}

.address-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-link {
  color: var(--brand-color);
}
.address-list:hover,
.address-list:focus {
  color: var(--ocean-color);
}

.hero-section {
  background: var(--dark-color);
}

.hero-title {
  color: var(--white-color);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 107%;
  letter-spacing: 1.12px;
}

.button {
  background-color: var(--iris-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.hero-button {
  color: var(--white-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean-color);
}

.qualities-subtitles {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.qualities-description {
  color: var(--brand-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.subtitle {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.our-team {
  background: var(--cloud-color);
}

.our-team-item-list {
  background: var(--white-color);
}

.item-name {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.item-description {
  color: var(--brand-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.footer {
  background: var(--dark-color);
}

.footer-mision {
  color: var(--cloud-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.portfolio-button {
  color: var(--iris-color);
  background-color: var(--cloud-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-color);
  background: var(--ocean-color);
}
